@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable zooming */
html {
  touch-action: manipulation;
  -ms-content-zooming: none;
  -ms-touch-action: manipulation;
  zoom: reset;
}

/* Prevent text selection */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Allow text selection in input fields */
input, textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}